<div id="banner2">
    <div class="por_img">
    </div>
</div>
<script type="text/javascript">
    var bodyBgs = [];
    bodyBgs[0] = "{{'/assets/images/slide/banner01.jpg'|theme }}";
    bodyBgs[1] = "{{'/assets/images/slide/banner01.jpg'|theme }}";
    bodyBgs[2] = "{{'/assets/images/slide/banner01.jpg'|theme }}";
    bodyBgs[3] = "{{'/assets/images/slide/banner01.jpg'|theme }}";
    bodyBgs[4] = "{{'/assets/images/slide/banner01.jpg'|theme }}";
    var randomBgIndex = Math.round(Math.random() * 4);
    //输出随机的背景图
    document.write('<style>.por_img{background:url(' + bodyBgs[randomBgIndex] + ') no-repeat 50% bottom}</style>');
</script>